{% extends "u2f/base.html" %}
{% load i18n %}

{% block content %}
{{ block.super }}
<h1>U2F Keys</h1>
<a href="{% url 'u2f:two-factor-settings' %}">{% trans '&larr; Back to settings' %}</a>
<table>
  <thead>
    <tr>
      <th>{% trans 'Added on' %}</th>
      <th>{% trans 'Last used on' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for key in object_list %}
    <tr>
      <td>{{ key.created_at }}</td>
      {% trans 'Never' as never %}
      <td>{{ key.last_used_at|default:never }}</td>
      <td>
        <form method="post">{% csrf_token %}
          <input name="key_id" type="hidden" value="{{ key.pk }}">
          <input type="submit" name="delete" value="X">
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'u2f:add-u2f-key' %}">{% trans 'Add another key' %}</a>
{% endblock %}
