{% extends "u2f/base.html" %}
{% load i18n %}

{% block content %}
{{ block.super }}

<table>
    <thead>
        <tr>
            <th>{% trans 'Added on' %}
            <th>{% trans 'Last used on' %}
    <tbody>
        {% for device in object_list %}
        <tr>
            <td>{{ device.created_at }}
            {% trans 'Never' as never %}
            <td>{{ device.last_used_at|default:never}}
            <td><form method="post">{% csrf_token %}
                    <input name="device_id" type="hidden" value="{{ device.pk }}">
                    <input type="submit" name="delete" value="X">
                </form>
        {% endfor %}
</table>

<a href="{% url 'u2f:add-totp' %}">{% trans 'Add another TOTP (Authenticator) Device' %}</a>

{% endblock %}
