{% extends "u2f/base.html" %}

{% block content %}
{{ block.super }}

<table>
    <thead>
        <tr>
            <th>Added on
            <th>Last used on
    <tbody>
        {% for device in object_list %}
        <tr>
            <td>{{ device.created_at }}
            <td>{{ device.last_used_at|default:"Never" }}
            <td><form method="post">{% csrf_token %}
                    <input name="device_id" type="hidden" value="{{ device.pk }}">
                    <input type="submit" name="delete" value="X">
                </form>
        {% endfor %}
</table>

<a href="{% url 'django_u2f.views.add_totp' %}">Add another TOTP (Authenticator) Device</a>

{% endblock %}
