{% extends "u2f/base.html" %}
{% load argonauts %}

{% block content %}
{{ block.super }}

<p>
Insert your Security Key
</p>
<p>
If your Security Key has a button, tap it.<br>
If it doesn't, remove and re-insert it.
</p>

<form method="post" id="u2f-form">
    {% csrf_token %}
    {{ forms.u2f.as_ul }}
    <button value="u2f" name="type">Submit</button>
</form>

<script>
    var challenges = {{ forms.u2f.challenges|json }};
    u2f.sign(challenges, function(resp) {
        var form = document.getElementById('u2f-form');
        form.response.value = JSON.stringify(resp);
        if ( ! handleU2FError(resp) ) {
            form.submit();
        }
    })
</script>

Or, use a backup code:
<form method="POST">
  {% csrf_token %}
  {{ forms.backup.as_ul }}
  <button value="backup" name="type">Submit</button>
</form>

{% endblock %}
